<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sporty</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link  rel="icon"   href="./media/favicon.ico" type="image/png" />
    <script src="https://kit.fontawesome.com/d4cd33a1a3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="sidebar">
        <div class="logo-container">
            <img class="logo_sporty" src="./media/logoSporty.png" alt="logo Sporty"/>
            <!--
                <li class="logo logo-sidebar">SPORTY </li>
                <li class="sales sales-sidebar">SALES MANAGER </li>
            -->
        </div>
        <div class=sidebar_options>
            <div class="sidebar_upper_section" >
                <ul class="sidebar_upper_text">
                    <li><i class="fas fa-plus-circle fa-2x"></i><a class="active" href="#new_sale">Nueva venta</a></li>
                    <li><i class="fas fa-users fa-2x"></i><a class="active" href="#costumers">Clientes</a></li>
                    <li><i class="fas fa-user-tag fa-2x"></i><a class="active" href="#sellers">Vendedores</a></li>
                    <li><i class="far fa-list-alt fa-2x"></i><a class="active" href="#sales">Ventas</a></li>
                </ul>
            </div>
            <div class=sidebar_lower_section>   
                <ul class="sidebar_lower_text">
                    <li><i class="fas fa-users-cog fa-2x"></i><a class="active" href="#users">Administrar Usuarios</a></li>
                    <li><i class="fas fa-sign-out-alt fa-2x"></i><a class="active" href="#new_sale">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>

       
    </div>
    
    <main>
        <div class="top_bar">

        </div>

        <div class="top_bar">

        </div>
        
    </main>
    
    
</body>
</html>