.card-upper>i{
    color:white;
    background-color:#252A2D;
    padding: 14px 12px 7px;
    margin-right:16px;
   

}   

.cards-sp{
    margin: 0 26px 18px;
}

.card-upper{
    display: flex;
    margin-bottom: 12px;
    

}
.cards-container{
    background-color: #F8F8F8;
    border: 0.09px solid #E2E1E1;
    margin : 32px;
    box-shadow: 0.749314px 1.49863px 2.99726px rgba(0, 0, 0, 0.09);
  }
  .edit-card{
      background-color :#F8F8F8;
      border: 0;
  }
  .edit-card>i{
      color:rgb(154, 155, 156);
  }

  .card-info{
      width: 100%;
      align-self:center;
      justify-content:space-between;
      display:flex;
  }
 

  table {
    border: 0.374657px solid #3E3E3E;
  }
  td{
    border-top: 0.374657px solid #3E3E3E;

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }