

.user_bar{
  display: flex;
  align-items: center;
}

.infoUser{
  margin-right: 25px;
  text-align: end;
  color: white;
}

.user_bar>i{
  margin-right: 40px;
  color: white;
}

.textfield {
  background-color: rgb(255, 255, 255);
  border: 1px solid gray;
  border-radius: 8px;
  margin-left: 30px;
  border-radius: 32px;
}

.textfield  > input {
  outline: none;
  border: 0px;
  font-size: 14px;
}

.textfield  > i {
  color:#BFBFBF;
  padding-left: 15px;
  margin-right: 5px;
}
