.container-text-over-text{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  .text-over-text{
    display: flex;
    flex-direction: column;
  }
  
  .text-over-text>div{
    display: flex;
  }
  .container-sale-details{
    margin-top: 50px;
}

.container-text-over-text{
    margin: 33px;
}

.text-over-text{
    box-sizing: content-box;
}

.independent-child{
    margin-top: 33px;
}
.bolder{
    font-weight: bold;
  }