/*SIDE BAR*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    padding: 0px !important;
    margin: 0px;
    display : flex;
    flex-direction: column;
    font-size: 0.5rem;
}

li{
    width: 100%;
    display: inline-block;
    padding: 8.5px 0px;
    justify-content: center;
}

li > a{
    font-size: 14px;
}

li:hover{
    background-color: #62686C;
    cursor: pointer;
}

li:active{
    background-color: #45BBBB;
}

.sidebar_icon{
    color:#BFBFBF;
    margin: auto;
    margin-left: 18px;
    width: 34px;
}

.sidebar-li>a{
    color: #BFBFBF!important;
}

a{
    text-decoration: none !important;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(145deg,#616c01,#123629,#0c1f32,#720143);
    position: relative;
    display: flex;
}

.logo_sporty{
    width: 80%;
    margin-top: 18px;
}

/*
.logo{
    font-size: 85px;
    text-shadow: 0px 5.90959px 23.6383px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik Mono One', sans-serif;
    display:inline-block;
}
.sales{
    font-size: 31px;
    padding: 0 0 45px;  
}*/

.sidebar{
    display: flex;
    height: 100%;
    width: 272px;
    flex-direction: column;
    background-color: #252A2D;
}

.sidebar_options{
    height: 100%;
    margin-top: 90px;
    font-size: 14px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_upper_section{
    align-self: auto;
}

.sidebar_lower_section{
    align-self: auto;
    align-content: end;
    margin-bottom: 30px;
}

.textfield {
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 8px;
    margin-left: 30px;
    border-radius: 32px;
  }

.textfield  > input {
    outline: none;
    border: 0px;
    font-size: 14px;
  }

.textfield  > i {
    color:#BFBFBF;
    padding-left: 15px;
    margin-right: 5px;
}

.text{
    width: 552px;
    height: 59px;
    box-shadow: 0px 4px 4px #0000;
    font-size: 22px;
    color: #696969;
    padding-left: 20px;
}

.logo-container{
    display: flex;
    justify-content: center;
}


/* HEADER & MAIN*/

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 76px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contenido{
    background-color: #EFEFEF;
    width: 100%;
    height: 100%;
}

#searchbar{
    width: 363px;
    height: 36px;
    border-radius: 32px;
    color: #BFBFBF;
    border: none;
}

.user_bar{
    display: flex;
    align-items: center;
}

.infoUser{
    margin-right: 25px;
    text-align: end;
    color: white;
}

.user_bar>i{
    margin-right: 40px;
    color: white;
}

.barra-ventas{
    margin : 32px;
    display: flex;
    justify-content: space-between;
    
}
.barra-ventas>span{
    font-size :24px;
    color:#3E3E3E;
}

.barra-ventas>button{
    background-color:#68B04D;
    font-size: 14px;
    padding: 6px 22px;
    border: none;
    color: white;
}

/*MODAL*/

modal-body{
    display: flex;
}

.modal .modal-dialog{
    max-width: none;
    height: 100%;
    width: 70%;
}

.upper-container-modal{
    display: flex;
    margin: 51px 32px 0 31px;
    align-items: center;
}

.info-container-modal{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-left: 47px;
}

.text-over-text{
    display: flex;
    flex-direction: column;
}

.text-over-text>div{
    display: flex;
}

.lower-info-container-modal{
    display: flex;
    width: 100%;
    margin-top: 35px;
    font-size: 15px;
    color: #6C6C6C;
}


.form-lower-info-container{
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.photo-container{
    padding: 31px 25px;
    border: 0.09px solid #E2E1E1;
    
}

.photo-container>i{
    color: #E2E1E1;
}

.info-container{
    width: 698px;
    height: 167px;
    display: flex;
    flex-direction: column;
}

.info-user{
    display: flex;
    justify-content: space-between;
}

.item-user{
    font-size: 15px;
}

.user-id{
    font-size: 24px;
    font-weight: 600;
}

.rol-tag{
    background-color: black;
    color: white;
    font-size: 11px;
}

.bolder{
    font-weight: bold;
}
 


.cards-saler-container{
    background-color: #F8F8F8;
    border: 0.09px solid #E2E1E1;
    margin : 32px;
    box-shadow: 0.749314px 1.49863px 2.99726px rgba(0, 0, 0, 0.09);
}


