
  .sidebar-icon{
    color:#BFBFBF;
    margin: auto;
    margin-left: 18px;
    width: 34px;
  }

  .logo_sporty{
    width: 80%;
    margin-top: 18px;
  }
  
  .sidebar{
    display: flex;
    height: 100%;
    width: 272px;
    flex-direction: column;
    background-color: #252A2D;
  }
  
  .sidebar-options{
    height: 100%;
    margin-top: 90px;
    font-size: 14px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar-upper-section{
    align-self: auto;
  }
  
  .sidebar-lower-section{
    align-self: auto;
    align-content: end;
    margin-bottom: 30px;
}
  .logo-container{
    display: flex;
    justify-content: center;
}


.sidebar-upper-text {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display : flex;
  flex-direction: column;
  font-size: 0.5rem;
}

.sidebar-li{
  width: 100%;
  display: inline-block;
  padding: 8.5px 0px;
  align-items: center;
}



.sidebar-li:hover{
  background-color: #62686C;
  cursor: pointer;
}

.sidebar-li:active{
  background-color: #45BBBB;
}
.sidebar-link{
  font-size: 14px;
  text-decoration: none;
  color: #BFBFBF;
  justify-content: center;

}
.sidebar-li>a{
  color: #BFBFBF!important;
}

a{
  text-decoration: none !important;
}
