/*SIDE BAR*/
*{
    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display : flex;
    flex-direction: column;
    font-size: 0.5rem;
  }

li{
    width: 100%;
    display: inline-block;
    padding: 8.5px 0px;
    justify-content: center;
}

li > a{
    font-size: 14px;
}

li:hover{
    background-color: #62686C;
    cursor: pointer;
}

li:active{
    background-color: #45BBBB;
}

.sidebar_icon{
    color:#BFBFBF;
    margin: auto;
    margin-left: 18px;
    width: 34px;
}

a{
    text-decoration: none;
    color: #BFBFBF;
    justify-content: center;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(145deg,#616c01,#123629,#0c1f32,#720143);
    position: relative;
    display: flex;
}

.logo_sporty{
    width: 80%;
    margin-top: 18px;
}

/*
.logo{
    font-size: 85px;
    text-shadow: 0px 5.90959px 23.6383px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik Mono One', sans-serif;
    display:inline-block;
}
.sales{
    font-size: 31px;
    padding: 0 0 45px;  
}*/

.sidebar{
    display: flex;
    height: 100%;
    width: 272px;
    flex-direction: column;
    background-color: #252A2D;
}

.sidebar_options{
    height: 100%;
    margin-top: 90px;
    font-size: 14px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_upper_section{
    align-self: auto;
}

.sidebar_lower_section{
    align-self: auto;
    align-content: end;
    margin-bottom: 30px;
}

/*
.logo-sidebar{
    font-size: 45.4378px;
    margin-top:53px;
    padding: 0px 24px;
}
.sales-sidebar{
    font-size: 16.5714px;
}*/
/*
.container{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/

.textfield {
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 8px;
    margin-left: 30px;
    border-radius: 32px;
  }

.textfield  > input {
    outline: none;
    border: 0px;
    font-size: 14px;
  }

.textfield  > i {
    color:#BFBFBF;
    padding-left: 15px;
    margin-right: 5px;
}

.text{
    width: 552px;
    height: 59px;
    box-shadow: 0px 4px 4px #0000;
    font-size: 22px;
    color: #696969;
    padding-left: 20px;
}

.logo-container{
    display: flex;
    justify-content: center;
}


/* HEADER & MAIN*/

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 76px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contenido{
    background-color: white;
    width: 100%;
    height: 100%;
}

#searchbar{
    width: 363px;
    height: 36px;
    border-radius: 32px;
    color: #BFBFBF;
    border: none;
}

.user_bar{
    display:flex;
    align-items: center;
}

.infoUser{
    display:flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: end;
}

.idUser{
    font-weight: bold;
}

.user_bar>i{
    margin-right: 40px;
    color: white;
}
/*.salesModule{
    display: flex;
    position: absolute;
    left: 25%;
    right: 0.09%;
    top: 20%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    bottom: 80.74%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px
}
.salesModule>p{
    color: black;
}
.salesModule>button{
    color: white;
    line-height: 50px;
    background-color:#68B04D;
    border-radius: 10px;
    padding-inline-end: 100px;
    padding-block-end: 50px;
}*/
.navbar{
    display: flex;
    color: ghostwhite;
    justify-content: space-between;
    padding: 5px 33px;
    
}
.navbar>li{
    display: flex;
    justify-content:space-between;
    background-color: white;
}
.navbar>li>h1{
    color:#6C6C6C;
    font-size: 20px;
    cursor: default;
}
.navbar>li>p{
        color: #6C6C6C;
        font-size: 15px;
        cursor: default;
        font-weight: bolder;
}
.navbar>li>button{
    color: white;
    background-color: #68B04D;
    border-color: #68B04D;
    font-weight: bolder;
    bottom: 80.74%;
    font-family: Roboto;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 10px;
}
.navbar>form{
    display: flex;
}
label{
    font-size: 12px;
    display: block;
    width: 100%;
    color: #6C6C6C;
    font-weight: bolder;
}
.headerTable>td{
    font-size: 12px;
}
input textarea{
    border: 2px;
}
input:focus{
    border: 1px solid #616c01;
}
.field-container>input{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    width: 90%;
    box-sizing: content-box;
    display: flex;
}
.buttonElect{
    color: white;
    display: flex;
    justify-content: space-between;
    padding:0px;
    font-family: Roboto;
    transform: scale(1,1);
}
.buttonElect>button{
    color: white;
    background-color:#FDC80B;
    font-weight: bolder;
    border-color: #FDC80B;
    font-family: Roboto;
    padding: 5px 30px;
    cursor: pointer;
    border-radius: 10px;
}
td{
    color: black;
    font-weight: bolder;
    font-size: 10px;
}
.search{
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 20px;
}
.search:focus-within{
    border: 2px solid gray;
}
.search>input{
    outline: none;
    border: 0px;
}
.search>i{
    color: black;
    font-size: 12px;
}