
  /*-------------------------------------------------------------------------*/
  
  
  
  .title_and_button_new_user{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-left: 32px;
    margin-right: 32px;
    
  }
 

 .button_upper{ 
    background-color:#68B04D;
    font-size: 14px;
    padding: 6px 22px;
    border: none;
    color: white;
}

/*cards*/
.card_home{

  display: flex;
  margin: 32px;
  
  transition: none;
}
.card {
  display: flex;
  margin-top: 32px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 108;
  margin-left: 32px;
  justify-content: space-between;
  display: flex;
  margin: 32px;
 
 
 
}

.card:hover {
 
 
  /*box-shadow: 5px 3px 4px 2px rgba(0,0,0,0.86);*/
  box-shadow:7px 0px 5px 0px rgba(0,0,0,0.45);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  
 
}

.container {
  margin-top: 10px;
  padding: 2px 16px;
  
  
}
.container_Idusername:b{
  margin-top: 0px;
  position: absolute;
  left: 5%;
  right: 11.67%;
  top: 67.98%;
  bottom: 24.16%;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1px;
  /* identical to box height */
  color: #252A2D;
}
.container_username{

  margin-top: 11px;
}
.container_username:h4{
  font-style: normal;
}
.container_rol{
  position: center;
  left: 1%;
  right: 15.83%;
  top: 87.08%;
  bottom: 4.62%;
  background: #0f0f0f;
  border-radius: 2.5px;
}
.text_rol{
  margin-left: 8px;
  color: #f1f1f1;
  align-content: center;
}
.content_imageuser{
  margin: 7px 6px;
}
/*dropdown*/
.drop-down{
  
  margin: 32px;
  width: 191px;
  height: 27px;
  background: #FFFFFF;
 
  box-sizing: border-box;
  
}
.drop_items{
  margin-bottom: 2px;
  border:none;
  width: 191px;
  height:32px;
  top: 162px;
  left: 304px;
  font-family: 'Roboto';
  font-style:normal ;
  font-weight: 1900 ;
  font-size: 15px;
  line-height: 18px;
  
  
}

/*.usuarios_dropdown{
  
  font-size: 'roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}*/
