.max-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.upper-container-modal{
    display: flex;
    margin: 51px 32px 0px;
}

.info-container-modal{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
    justify-content: center;
}

.text-over-text{
    display: flex;
    flex-direction: column;
}

.text-over-text>div{
    display: flex;
}

.lower-info-container-modal{
    display: flex;
    font-size: 15px;
    color: #6C6C6C;
}

.lower-info-container{
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 46px;
}

.photo-container{
    padding: 31px 25px;
    border: 0.187328px solid #808080;
}

.photo-container>i{
    color: #E2E1E1;
}

.info-user{
    display: flex;
    justify-content: space-between;
}

.user-id{
    font-size: 24px;
    font-weight: 600;
    margin-top: 17px;
}

.rol-tag{
    background-color: black;
    color: white;
    font-size: 11px;
    margin-top: 23px;
}

.text-over-text>bolder{
    font-weight: bold;
    margin: 0px;
    color: #6C6C6C;
}

.lower-container-modal-form{
    display: flex;
    justify-content: space-between;
    margin: 0px 32px 0px 32px;
}

.input-form-users{
    width: 300px;
    height: 32px;
    color: #BFBFBF;
    border: none;
    border-color: #a4a2a2;
    margin-top: 17px;
    padding-left: 15px;
}

.gray-letter{
    color: #6C6C6C;
}

.modal-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-button{
    background-color:#68B04D;
    font-size: 14px;
    padding: 6px 22px;
    border: none;
    color: white;
    width: 282px;
    margin-bottom: 30px;
}