
modal-body{
    display: flex;
}

.modal .modal-dialog{
    max-width: none;
    height: 100%;
    width: 70%;
}

.upper-container-modal{
    display: flex;
    margin: 51px 32px 70px 31px;
}

.info-container-modal{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-left: 47px;
    justify-content: center;
}

.text-over-text{
    display: flex;
    flex-direction: column;
}

.text-over-text>div{
    display: flex;
}

.lower-info-container-modal{
    display: flex;
    width: 100%;
    font-size: 15px;
    color: #6C6C6C;
}

.form-lower-info-container{
    font-size: 15px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 46px;
}

.photo-container{
    padding: 31px 25px;
    border: 0.187328px solid #808080;
}

.photo-container>i{
    color: #E2E1E1;
}

.info-user{
    display: flex;
    justify-content: space-between;
}

.user-id{
    font-size: 24px;
    font-weight: 600;
    margin-top: 17px;
}

.rol-tag{
    background-color: black;
    color: white;
    font-size: 11px;
    margin-top: 23px;
}

.text-over-text>bolder{
    font-weight: bold;
    margin: 0px;
    color: #6C6C6C;
}

.lower-container-modal-form{
    display: flex;
    justify-content: space-between;
    margin: 32px;
}

.input-form-users{
    width: 230px;
    height: 32px;
    border-color: #CFCFCF;
    border: 0px;
    border-radius: 1px;
    margin-top: 17px;
    
}

.container-text-over-text{
    margin: 33px;
}

.text-over-text{
    box-sizing: content-box;
}

.independent-child{
    color: #6C6C6C;
    margin-top: 33px;
}

.modal-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.save-button{
    background-color:#68B04D;
    font-size: 14px;
    padding: 6px 22px;
    border: none;
    color: white;
    width: 282px;
}