
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.template{
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body{
  background-color: #f7f7f7;
}
header{
  background: linear-gradient(145deg,#616c01,#123629,#0c1f32,#720143);
}


.contenido{
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  max-width: 80rem;
  margin: 0 auto;
}


.container-cards{
  margin-left: 20rem;
  margin-right: 2rem;
  height: 100%;
  margin-bottom: 20px;
  
}

.bolder{
  font-weight: bold;
}

label{
  font-size: 15px;
}

.input-border{
  border-radius: 6px;
  border: solid 1px;
  border-color: #d7d7d7;
}

.cards-container{
  border: 0.09px solid #E2E1E1;
}


td{
  border-top: 0.374657px solid #787777;
}

.notAllowed{

  height: 100%;
  width: 100%;
  align-items: center;
  
}

.sidebar-li:active{
  background-color: #c5ebff;
}

.greenButton{
  background-color: #4ba043;
  color: white;
  font-weight: bold;
}

.greenButton:hover{
  background-color: #57b84e;
  box-shadow: 0px 0px 2px rgba(33, 33, 33, 0.5)
}

.backButton{
  border: 1px solid;
  border-color: #4ba043;
  color: #4ba043;
}

.backButton:hover{
  border: 1px solid;
  border-color: #80bb40;
  color: #80bb40;
  background-color: #7fbb4020;
  font-style: bold;
}

.editIcon{
  color: #2a5bd7;
}

.editIcon:hover{
  color: #3870ff;
}

.editIconBg{
  background-color: #0d4480;
}

.editIconBg:hover{
  background-color: #0e4c8f;
}

.deleteIcon{
  color: #a0021d;
}

.deleteIcon:hover{
  color: #c50122;
}

.deleteIconBg{
  background-color: #a0021d;
 
}

.deleteIconBg:hover{
  background-color: #c50122;
}

.dialogButYes{
  background-color: #57b84e;
  border-radius: 5px;
}

.dialogButYes:hover{
  background-color: #5fc956;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(33, 33, 33, 0.5)
}

.dialogButNo{
  background-color: #a0021d;
  border-radius: 5px;
}

.dialogButNo:hover{
  background-color: #bd0322;
  border-radius: 5px;
  
}

.dashButtons{
  border-radius: 10px;
}

.dashButtons:hover{
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(33, 33, 33, 0.5);
}

.dashBut1{
  background-color: #80bb40;
}

.dashBut1:hover{
  background-color: #86c443;
}

.dashBut2{
  background-color: #074e3b;
}

.dashBut2:hover{
  background-color: #0b6a50;
}

.dashBut3{
  background-color: #08294d;
}

.dashBut3:hover{
  background-color: #0d4075;
}

.dashBut4{
  background-color: #3c1147;
}

.dashBut4:hover{
  background-color: #571868;
}

.dashBut5{
  background-color: #720145;
}

.dashBut5:hover{
  background-color: #83024f;
}

