.logo{
    
    text-shadow: 0px 4.70793px 18.8317px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik Mono One', sans-serif;
}

.container-login{
    background: linear-gradient(145deg,#616c01,#123629,#0c1f32,#720143);
}


.loginButton-login{
    border: 1px solid #c9c9c9;
}

